body{
	background-color: #808080;
	
	
}

h1{
font-size: 50px;
text-decoration: underline;
text-align: center;
}

h3{
	font-size: 30px;
}

h4{
	font-size: 25px;
}
#state{
	text-align: center;
}

.icon{
	height: 50px;
	width: 50px;
}